@charset "UFT-8";

/* -------------- GENERAL ------------- */
:root {
  /* light mode */
  --zero: #F8F8F8;
  --primary: #6D83F2;;
  --secondary: #6A98F0;
  --tertiary: #C7D0FF;
  --fourthy: #383838;
  
  /* dark mode */  
  --dark-background: #191919;
  --dark-background2: #232323;
  --dark-background3: #303030;

  --font-one: Raleway, Verdana, sans-serif;
  --font-two: Lato, serif;
  
  --container: 1216px;
  --nav-height: 72px;

  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;  
  background-color: var(--dark-background);
  display: flex;
  align-items: center;
}

body #container {
  background-color: var(--dark-background2);
  margin: 0 auto;
  height: inherit;
  width: 85%;
  height: 50%;

  border-radius: 10px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
}

h1 {
  font-family: var(--font-one);
  font-size: 4.8rem;
  color: var(--zero);
  text-align: center;
}

p {
  font-family: var(--font-two);
  font-size: 2.2rem;
  color: var(--zero);
  text-align: center;
}

p a {
  color: var(--primary);
}

p a:hover {
  text-decoration: underline;
}